# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
projects/demo/.terraform/providers/registry.opentofu.org/hashicorp/aws/6.13.0/windows_amd64/LICENSE
projects/demo/.terraform/providers/registry.opentofu.org/hashicorp/aws/6.13.0/windows_amd64/CHANGELOG.md
projects/demo/.terraform/terraform.tfstate
projects/demo/terraform.tfstate.backup
projects/demo/terraform.tfstate
projects/demo/.terraform.lock.hcl
projects/demo/.terraform/providers/registry.opentofu.org/hashicorp/aws/6.13.0/windows_amd64/terraform-provider-aws.exe
app/build/index.html
app/build/assets/index-CVVSM1yU.css
app/build/assets/index-Db3N-rlk.js
projects/yogaswap/.terraform.lock.hcl
projects/yogaswap/terraform.tfstate
projects/yogaswap/.terraform/terraform.tfstate
projects/yogaswap/.terraform/modules/modules.json
projects/yogaswap/.terraform/providers/registry.opentofu.org/hashicorp/aws/6.13.0/windows_amd64/CHANGELOG.md
projects/yogaswap/.terraform/providers/registry.opentofu.org/hashicorp/aws/6.13.0/windows_amd64/LICENSE
projects/yogaswap/.terraform/providers/registry.opentofu.org/hashicorp/aws/6.13.0/windows_amd64/README.md
projects/yogaswap/.terraform/providers/registry.opentofu.org/hashicorp/aws/6.13.0/windows_amd64/terraform-provider-aws.exe
backend/terraform.tfstate
projects/yogaswap/terraform.tfstate.backup
app/build/assets/index-C1BZCd10.js
projects/yogaswap/.terraform/providers/registry.opentofu.org/hashicorp/aws/6.14.1/windows_amd64/CHANGELOG.md
projects/yogaswap/.terraform/providers/registry.opentofu.org/hashicorp/aws/6.14.1/windows_amd64/LICENSE
projects/yogaswap/.terraform/providers/registry.opentofu.org/hashicorp/aws/6.14.1/windows_amd64/README.md
projects/yogaswap/.terraform/providers/registry.opentofu.org/hashicorp/aws/6.14.1/windows_amd64/terraform-provider-aws.exe
projects/yogaswap/.terraform/providers/registry.opentofu.org/hashicorp/null/3.2.4/windows_amd64/CHANGELOG.md
projects/yogaswap/.terraform/providers/registry.opentofu.org/hashicorp/null/3.2.4/windows_amd64/LICENSE
projects/yogaswap/.terraform/providers/registry.opentofu.org/hashicorp/null/3.2.4/windows_amd64/README.md
projects/yogaswap/.terraform/providers/registry.opentofu.org/hashicorp/null/3.2.4/windows_amd64/terraform-provider-null.exe
projects/yogaswap/.terraform/providers/registry.opentofu.org/hashicorp/random/3.7.2/windows_amd64/CHANGELOG.md
projects/yogaswap/.terraform/providers/registry.opentofu.org/hashicorp/random/3.7.2/windows_amd64/LICENSE
projects/yogaswap/.terraform/providers/registry.opentofu.org/hashicorp/random/3.7.2/windows_amd64/README.md
projects/yogaswap/.terraform/providers/registry.opentofu.org/hashicorp/random/3.7.2/windows_amd64/terraform-provider-random.exe
